body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(248, 244, 244)
}

#meu_nome {
    text-align: center;
    /*border: 2px solid red;*/
}

.foto_descricao {
    height: 6cm;
}

.minhaFoto {
    float: left;
    width: 6cm;
    height: 6cm;
    border: 2px solid black;
}

.descricao {
    /*border: 2px solid blue;*/
    position: absolute;
    margin-left: 6.2cm;
    margin-top: 3cm;
}

#resido {
    margin-top: 2px;
}

#minhas_habilidades {
    margin-top: 2px;
    background-color: gainsboro;
}